.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    text-align: center;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: black;
    background-color: #ffd300;
    display: flex;
    /* height: 500px; */
}

.kid {
    border-style: solid;
    text-align: center;
    flex: 1;
}

.images {
    width: 100px;
    height: auto;
}